[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "pybind11"]
	path = pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "src/pybind11"]
	path = src/pybind11
	url = ../../pybind/pybind11
	branch = stable
